DATABASE_URL=file:local.db
PUBLIC_COMMIT_HASH=
PUBLIC_GIT_REPO_ID=sachahjkl/albumator
# Configures Node.js body parser limit, see https://svelte.dev/docs/kit/adapter-node#environment-variables-body-size-limit
BODY_SIZE_LIMIT=Infinity
IMAGE_CACHE_DIR=image-cache
