@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@utility fat-shadow {
	box-shadow: 2px 2px rgb(0 0 0 / 30%);
}

@utility text-sharp {
	text-shadow: 1px 1px rgb(0 0 0 / 10%);
}

@utility inset-shadow {
	box-shadow:
		inset -2px -2px 0px rgb(0 0 0 / 30%),
		inset 2px 2px 0px rgb(0 0 0 / 15%);
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: var(--color-neutral-100);
}
